*,*::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

:root{
    --primary-grad: linear-gradient(to right,
    hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --pale-blue:hsl(243, 100%, 93%);
    --grayish-blue:hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue:hsl(229, 57%, 11%);
    --font-family: 'Raleway', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family);
    font-size: 14px;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/bg-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

main{
    display: grid;
    grid-template: 1fr auto / 100%;
    gap: 1.5rem;
}



.container-menu{
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    background-color: var(--dark-blue);
    padding: 2rem;
    border-radius: 10px 100px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

ul{
    margin: 1em 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

li{
    border-radius: 10px;
    margin-right: 1em;
    padding: 1rem;
    list-style-type: none;
    background-color: var(--very-dark-blue);
}

.status{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.status-content{
    border-radius: 10px;
    background-color: var(--dark-blue);
    padding: 2rem 2rem 3.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    align-self: flex-end;
}

.status-bar{
    margin: 1em 0;
    width: 100%;
    height: 15px;
    background-color: hsla(229, 57%, 11%, 0.5);
    border-radius: 50px;
    padding: 2px;
}

.progress-bar{
    width: 80.15%;
    height: 100%;
    border-radius: 50px;
    background: var(--primary-grad);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
}

.thumb{
    border-radius: 50px;
    height: 9px;
    width: 9px;
    background-color: white;
    position: absolute;
}

.label{
    margin-top: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hover{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    z-index: 10;
    bottom: -25%;
    transition: 350ms;
}

.hover p{
    text-align: center;
    color: var(--grayish-blue);
    letter-spacing: 1px;
    font-weight: 700;
    font-size: .7rem;
}


.hover h1{
    color: var(--very-dark-blue);
    letter-spacing: 0;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 5px;
}

/* Web */
@media screen and (min-width: 768px){

    body{
        background-image: url(images/bg-desktop.png);
    }

    main{
        width: 80%;
        grid-template: 100% / 40% auto;
    }

    .status-content{
        width: 100%;
        height: fit-content;
        padding: 2rem 3rem 2rem 3rem;
    }
 
    .hover{
        top: 5%;
        right: 8%;
        bottom: unset;
        border-radius: 10px 10px 0 10px;
    }

    .hover p{
        font-size: 1rem;
    }
    .hover h1{
        font-size: 2rem;
    }

    /* create the triangle */
    .hover::before{
        content: '';
        position:absolute;
        width: 0;
        height: 0;
        border:solid 30px rgb(255, 255, 255);
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        right: 0;
        bottom: -30%;
    }

    .status-content{
        align-items: flex-start;
    }

}